@import '../variables.scss';

.child-panel {
  background-color: $base-1;
  padding: 20px;
  display: grid;
  gap: 0px 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.half-width-frame {
  height: 400px;
}

.form-fields-grid {
  display: grid;
  gap: 0px 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.xg-text-group {
  margin-top: 20px;
}

.action-bar {
  margin-top: 10px;
  display: flex;
  justify-items: end;
  width: 100%;
  background-color: $base-1;
  //height: 30px;
  justify-content: space-between;
  align-content: center;

  text-transform: capitalize;
  font-size: 10px;
  color: $base-3;
  padding-top: 5px;

  .title {
    font-size: 18px;
    color: $base-4;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .action-button {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 4px;
      padding-right: 5px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

label {
  font-size: 14px;
  color: $base-4;
  cursor: pointer;
}

// <div class="overlay">

// <div class="modal">

// <div class="header">Content Set 123</div>

// <div class="modal-body">

//   <div class="xg-frame-2">

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cccccc40;
  top: 0;
  left: 0;
  // --tw-bg-opacity: 0.2;
  display: flex;
  justify-content: center;
  padding-top: 200px;

  .modal {
    width: 880px;
    height: 1050px;
    background-color: #f3f3f3;
    border: 1px solid $base-3;
    opacity: 1;
    box-shadow: $shadow-1;
    padding: 16px;

    .header {
      font-weight: 500;
    }

    .modal-body-grid {
      display: grid;
      gap: 0 18px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .xg-frame-2 {
      height: 250px;
    }

    .footer {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: end;
      gap: 8px;
      .button-cancel {
        color: $base-3;
        padding: 8px 12px 4px 12px;
        cursor: pointer;
      }
      .button-apply {
        color: white;
        background-color: $primary-2;
        padding: 8px 12px 4px 12px;
        align-content: center;
        cursor: pointer;
      }
    }
  }
}

//xg-input

@import '../component-styles.scss';
.xg-password .xg-alert,
.xg-number .xg-alert {
  bottom: auto !important;
}

.xg-input {
  width: 100%;
  &:focus {
    outline: none;
  }
  div {
    &:focus {
      outline: none;
    }
  }
  .mat-form-field {
    &:focus {
      outline: none;
    }
  }
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  mat-checkbox {
    font-family: inherit !important;
    font-size: inherit;
  }
}

.embeded {
  .xg-text-group {
    overflow: hidden;
    margin: 0px;
    input.xg-text-box {
      padding: 0px;
      min-height: 16px;
      line-height: 16px;
      width: 100%;
      border: none;
      background: transparent;
      border: none;
      box-shadow: none;
    }
    .invalid {
      box-shadow: none;
    }
    .xg-focus-border {
      display: none;
    }
    &:focus,
    &:focus-within {
      outline: none;
      box-shadow: none;
    }
  }
}
mat-form-field.mat-form-field {
  span.mat-form-field-required-marker {
    color: $error-1 !important;
  }
  .mat-form-field-underline {
    background-color: $base-3;
  }

  /** For Disabled Input  */
  &.xg-disabled {
    label.mat-form-field-label {
      mat-label.xg-text-label {
        color: $base-2;
      }
    }
    .mat-form-field-underline {
      background-color: $base-2;
      background-image: none;
    }
  }
}
