@import '../variables.scss';

.child-panel {
  background-color: $base-1;
  padding: 20px;
  display: grid;
  gap: 0px 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.half-width-frame {
  height: 300px;
}
